@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 font-sans text-gray-800 antialiased;
  }
}

@layer components {
  .form-input {
    @apply block w-full px-4 py-2 border border-gray-300 rounded-lg bg-gray-50;
    @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
    @apply transition-colors;
  }

  /* Add a little more spacing and clarity to prose */
  .prose {
    @apply text-gray-600;
  }
  .prose h4 {
    @apply text-lg font-bold text-gray-900 mb-2 mt-4;
  }
  .prose p, .prose ul {
    @apply mb-4;
  }
  .prose ul {
    @apply list-disc pl-5;
  }
  .prose li {
    @apply mb-1;
  }
}
